/*
Thempe Name: Tiffany's Learn WP
Theme URI: https://tiffanyschureman.com
Author: Tiffany Schureman
Author URI: https://tiffanyschureman.com
Description: This is a test theme
Version: 1.0
Tags: two-columns, left-sidebar, custom-header, custom-logo, custom-menu, blog 
*/
